trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# Step 1: Archive project files
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/static-site.zip'
    replaceExistingArchive: true

# Step 2: Publish build artifact
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'static-website'
    publishLocation: 'Container'